<p><%= workoutList %></p>
<h1 class="mt-4">Edit</h1>
<p class="lead mb-4">Welcome <%= name %></p>
<p class = "lead mb-4">Your id is <%= id %></p>
<p class = "lead mb-4">Your edit item: "<%= workout %>"</p>
<%- include ("./messages") %>

<!--if <%= workout %> is weight-->
<% if (workout === "weight") { %>
    <!-- Say weight workout -->
    <!--create form with dropdown for excersise name, reps, sets, and weight-->
    <form method="POST">
        <div class="form-group">
            <label for="exercise">Exercise</label>
            <select id="exercise" name="exercise" class="form-control">
              <% for (let i = 0; i < workoutList.length; i++) { %>
                <option value="<%= workoutList[i].workoutId %>" name="<%= workoutList[i].WorkoutName %>"> </option>
                <% } %>
            </select>
            <label for="reps">Reps</label>
            <input type="number" class="form-control" id="reps" name="reps" value="" placeholder="How many reps?">
            <label for="sets">Sets</label>
            <input type="number" class="form-control" id="sets" name="sets" value="" placeholder="How many sets?">
            <label for="weight">Weight</label>
            <input type="number" class="form-control" id="weight" name="weight" value="" placeholder="How much weight?">
            <input type="hidden" name="id" value="<%= id %>">
            <input type="hidden" name="name" value="<%= name %>">
            <input type="hidden" name="workout" value="<%= workout %>">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <% } %>
<!-- if <%= workout %> is cardio-->
<% if (workout === "cardio") { %>
    <!-- Say cardio workout -->
    <p class = "lead mb-4">You are editing a cardio workout</p>
    <% } %>